* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Regole header */
header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #265EE9;
}

header>* {
    height: 70%;
}

.header-side {
    width: 15%;
    display: flex;
    align-items: center;
}

.header-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.header-nav li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 400;
}

.header-nav a {
    text-decoration: none;
    color: white;
}

.login {
    justify-content: flex-end;
}

.small-btn {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
}


/* Regole contenuto principale */

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
    line-height: 150%;
}

   
    /* Regole jumbo */
.jumbo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    padding: 40px 0;
}

.jumbo-box {
    width: 50%;
    max-height: 100%;
    min-height: 420px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.jumbo-box>h1 {
    padding-bottom: 40px;
}

.jumbo-box>p {
    padding-bottom: 30px;
}

.btn {
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 25px;
    margin: 10px;
    text-decoration: none;
    background-color: #22282A;
    color: white;
}

.jumbo-box .download-btn {
    background-color: white;
    color: black;
}

    /* Regole sezioni centrali */
.central-sections>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.img-box {
    width: 45%;
    padding: 30px auto;
}

.text-first .img-box {
    display: flex;
    justify-content: flex-end;
}

.img-box img {
    width: 90%;
    height: auto;
}

.text-box {
    width: 25%;
    padding: 30px auto;
}

.text-box h1 {
    padding-bottom: 20px;
}

.text-first {
    background-color: #F6F6F6;
}

    /* Regole sezione finale */
.final-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.final-section>div {
    width: 70%;
    padding: 100px 0;
    text-align: center;
}

.final-section h1 {
    padding-bottom: 20px;
}

.final-section h2 {
    background-image: url(../img/stars.svg);
    width: 53%;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 50px;
}

.final-section .btn {
    background-color: #8DA1E2;
}


/* Regole footer */
footer {
    background-color: #23272A;
}

    /* Regole manù navigazione */
.nav-menu {
    display: flex;
    justify-content: center;
    padding: 60px 0 40px 0;
}

.left-nav-menu {
    width: 20%;
    height: 90%;
}

.left-nav-menu h2 {
    font-size: 30px;
    color: #8DA1E2;
    padding-bottom: 20px;
}

.language-choice img {
    height: 15px;
    width: auto;
}

.language-choice {
    font-size: 15px;
    padding-bottom: 10px;
}

.left-nav-menu {
    color: white;
}

.left-nav-menu a {
    text-decoration: none;
    color: white;
}

.icon {
    padding: 10px;
}
    
.right-nav-menu {
    width: 50%;
    height: 90%;
    display: flex;
}
    
.right-nav-menu div {
    width: 25%;
}

.right-nav-menu ul {
    list-style: none;
    line-height: 200%;
    color: white;
    font-weight: 400;
}

.right-nav-menu ul li:first-child {
    font-weight: bold;
    color: #8DA1E2;
}

    /* Regole parte bassa footer */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-bottom .footer-container {
    width: 70%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 100px 0;
    border-top: 1px solid grey;
}

.footer-container div {
    height: 50%;
}

.footer-container .small-btn {
    background-color: #8DA1E2;
    color: white;
}